/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --color-main-title: #ffc2e6;
    --color-title: #353430;
    --bg-color-subtitle: #ff8dcb;
    --color-subtitle: #353430;
    --color-text: #353430;
    --color-text-accent: #f1b2ce;
    --bg-color: #fff1f7;
    --text-shadow: #FF8DCB;
    --color-button: #353430;

    --border-color-hover: rgb(50 49 45 / 0.4);
  }

  .page {
    background-image: url('../images/cover-image-light.png');
    background-color: var(--bg-color);
  }

  .header__decor-element {
    display: none;
  }
}

.page.theme_light {
  background-image: url('../images/cover-image-light.png');
  --color-main-title: #ffc2e6;
  --color-title: #353430;
  --bg-color-subtitle: #ff8dcb;
  --color-subtitle: #353430;
  --color-text: #353430;
  --color-text-accent: #f1b2ce;
  --bg-color: #FFF1F7;
  --text-shadow: #FF8DCB;

  --color-button: #353430;
  --border-color-hover: rgb(50 49 45 / 0.4);
}

.page.theme_light .header__decor-element {
  display: none;
}