.page {
  color: var(--color-text);
  font-family: var(--main-font-family), monospace;
  font-weight: var(--font-weight-regular);
  font-size: 1.125rem;
  line-height: var(--line-height-text);

  background-image: image-set(
          url('../images/cover-image-dark.png') 1x,
          url('../images/cover-image-dark-2x.png') 2x,
          url('../images/cover-image-dark-3x.png') 3x,
          url('../images/cover-image-dark-4x.png') 4x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.wrap__padding {
  padding: 10px;
  display: none;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr min-content min-content;
  padding: 10px 10px 10px 10px;
  min-block-size: 668px;
  height: 100vh;
}

.header__decor-container {
  display: flex;
  justify-self: end;
  align-items: center;
  padding-bottom: 2.6rem;
  color: var(--color-button);
  pointer-events: none
}

.header__decor-element {
  position: absolute;
  top: 10px;
  right: 38px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header__decor-element::after {
  content: '';
  position: absolute;
  right: -23px;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: 0 0 18px 6px #FF0070;
  background-color: #FF0070;
}

.header__theme-menu {
  justify-self: end;
  padding-top: 22px;
  padding-bottom: 4.4rem;
  color: var(--color-button);
  text-align: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__main-title {
  padding-bottom: 3.3rem;
  color: var(--color-main-title);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--text-shadow);
}

.header__subtitle {
  justify-self: end;
  margin-bottom: 58px;
  color: var(--color-subtitle);
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem;
  background-color: var(--bg-color-subtitle);
  min-inline-size: 22.1875rem;
  max-inline-size: 22.75rem;
}

.force-newline {
  display: block;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
}

.header__theme-menu-button {
  padding: 0 13px;
  cursor: pointer
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-button);
  border-right: 1px solid var(--color-button);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-button);
  border-left: 1px solid var(--color-button);
}

.regular-weight {
  font-weight: 400;
}

/*SECTION*/
.main {
  padding-top: 39px;
}

.section {
  padding: 0 10px 50px;
}

.section--grid {
  display: grid;
  grid-template-columns: 1fr;
}

.section__item:not(:last-child) {
  padding-bottom: 20px;
}

.section__title {
  padding-bottom: 20px;
  color: var(--color-title);
}

.section__subtitle {
  margin-bottom: 10px;
  background-color: var(--bg-color-subtitle);
  color: var(--color-subtitle);
}

.section__subtitle-regular-weight {
  font-weight: 400;
}

.section__subtitle--heading {
  margin-bottom: 20px;
}

.section__list--direction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__item--small-padding:not(:last-child) {
  padding-bottom: 10px;
}

.section__link {
  text-shadow: 2px 2px var(--text-shadow);
}

/*PICTURES*/
.section-pictures-container {
  display: grid;
  gap: 10px;
}

.section__pictures {
  padding-top: 39px;
  padding-bottom: 40px
}

.section__pictures__subtitle-accent {
  margin-bottom: 10px;
  color: var(--color-subtitle);
  background-color: var(--bg-color-subtitle);
}

/*FOOTER*/
.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 667px;

}

.footer__title {
  color: var(--color-main-title);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--text-shadow);
}

/*ui*/
.header__theme-menu-button_active:hover {
  outline: 1px solid var(--border-color-hover);
  color: var(--color-text-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-button);
  outline: none;
}

.section__link:hover {
  border-bottom: 1px solid currentColor;
}

/*MEDIA*/
@media (width >= 768px) {
  /*MEDIA HEADER WIDTH > 768PX*/
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__decor-container {
    padding-bottom: 10.8125rem;
  }

  .header__theme-menu {
    padding-top: 0;
    padding-bottom: 177px;
  }

  .header__main-title {
    padding-bottom: 10.125rem;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    margin-bottom: 161px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decor-element {
    top: 20px;
    right: 48px;
  }

  /*MEDIA SECTION WIDTH > 768PX*/
  .main {
    padding-top: 68px;
  }

  .section {
    padding: 0 20px 80px;
  }

  .section--grid {
    display: grid;
    grid-template-columns: minmax(236px, 315px) minmax(472px, 1fr);
    gap: 20px;
  }

  .section__title-grid--item {
    width: 100%;
    min-inline-size: 472px;
  }

  .section__list--direction {
    flex-direction: column;
  }

  .section__item {
    min-inline-size: 315px;
  }

  .section__title {
    max-inline-size: 236px;
  }

  /*MEDIA PICTURES WIDTH > 768PX*/
  .section__pictures {
    padding-top: 58px;
    padding-bottom: 52px;
  }

  .section__pictures__subtitle-accent {
    margin-bottom: 20px;
  }

  .section-pictures-container {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "sunset sunset ice-cream"
                          "tape books ice-cream"
                          "tape street street";
    gap: 20px;
  }

  .image-sunset {
    grid-area: sunset;
  }

  .image-ice-cream {
    grid-area: ice-cream;
  }

  .image-tape {
    grid-area: tape;
  }

  .image-books {
    grid-area: books;
  }

  .image-street {
    grid-area: street;
  }

  /*MEDIA FOOTER WIDTH > 768PX*/
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-row: 1 / auto;
    justify-self: center;
    padding-bottom: 103px;
    padding-left: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    column-gap: 12px;
  }

  .header__main-title {
    padding-bottom: 112px;
  }

  .header__subtitle {
    margin-bottom: 114px;
    max-inline-size: 491px;
  }

  /*MEDIA SECTION WIDTH > 1024PX*/
  .main {
    padding-top: 60px;
  }

  .section__list--direction {
    flex-direction: row;
    column-gap: 20px;
  }

  .section__title {
    max-inline-size: 315px;
  }

  /*MEDIA PICTURES WIDTH > 1024PX*/
  .section__pictures {
    padding-bottom: 60px;
  }
}